/* ====== GENERAL FORM PAGES ====== */ 
input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=submit]:focus,
textarea:focus,
.form .form-group .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #e708ae;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

textarea {
    overflow: hidden;
}

#auth form {
    margin-top: 5%;
}

form.login,
form.forgot {
    max-width: 50%;
    width: 80%;
}

form.reset {
    max-width: 60%;
    width: 60%;
}

/* General Form links */
.form span.details {
    margin: 3.7% 0;
}

.form span.details a,
.form .form-group span a {
    color: #0000cd;
}

.form span.details a:hover,
.form .form-group span a:hover {
    color: #e708ae
}

/* Form Input styles */
.form .form-inline .form-group {
    display: block;
    height: 75px;
    width: 100%;
    padding: 0;
}
.form .form-group .form-control {
    font-size: 16px;
    border: 1px solid #b116e0;
    max-width: 100%;
    width: 100%;
    padding: .375rem .375rem;
}

/* Floating labels - Regular */
.form .form-group .control-label {
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translate3d(6px, 7px, 0) scale(1);
    -moz-transform: translate3d(6px, 7px, 0) scale(1);
    -ms-transform: translate3d(6px, 7px, 0) scale(1);
    -o-transform: translate3d(6px, 7px, 0) scale(1);
    transform: translate3d(6px, 7px, 0) scale(1);
    transform-origin: top left;
    transition: 240ms;
}
.form .form-group .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}  
/* Help box - Regular */
.form .form-group span.help {
    display: none;
    font-size: 10px;
    line-height: 12px;
    margin-top: 2px;
}

/* Floating labels - Focused */
.form .form-group.focused .control-label {
    opacity: 1;
    font-size: 16px;
    -webkit-transform: translate3d(0px, -10px, 0) scale(0.9);
    -moz-transform: translate3d(0px, -10px, 0) scale(0.9);
    -ms-transform: translate3d(0px, -10px, 0) scale(0.9);
    -o-transform: translate3d(0px, -10px, 0) scale(0.9);
    transform: translate3d(0px, -10px, 0) scale(0.9);
    line-height: 1px;
    color: #e708ae;
}
.form .form-control:focus::-webkit-input-placeholder {
    transition: none;
}
.form .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}
/* Help box - Focused */
.form .form-group.focused span.help {
    display: block;
}

/* Floating labels - Filled */
.form .form-group .form-control.filled,
.form .form-group.filled .control-label {
    border-color: #e708ae;
    opacity: 1;
    -webkit-transform: translate3d(0px, -10px, 0) scale(0.9);
    -moz-transform: translate3d(0px, -10px, 0) scale(0.9);
    -ms-transform: translate3d(0px, -10px, 0) scale(0.9);
    -o-transform: translate3d(0px, -10px, 0) scale(0.9);
    transform: translate3d(0px, -10px, 0) scale(0.9);
    line-height: 1px;
}
.form .form-group.filled .control-label {
    font-size: 16px;
    color: #e708ae;
}

/* Details */
.form .details {
    font-size: 16px;
}

/* Password requirements */
.form ul li.req {
    font-size: 15px;
    padding-left: 5%;
}
/* Add a green text color and a checkmark when the requirements are right */
.form ul li.req.valid {
    color: #24b954;
}
.form ul li.req.valid:before {
    content: '✓';
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.form ul li.req.invalid {
    color: #f72942;
}
.form ul li.req.invalid:before {
    color: #f72942;
    content: 'x';
}

/* Flash Messages */
.flashMsg,
.errorMsg {
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 5px 0 15px;
}
.flashMsg {
    color: #b116e0;
}
.errorMsg {
    color: #f72942;
}

/* Message Links */
.flashMsg .msg-link,
.errorMsg .msg-link {
    color: #0000cd;
}

/* ====== LOGIN PAGE ====== */ 
.login .form-inline:nth-of-type(1) .form-group {
    height: 65px;
}

/* ====== FORGOT PAGE ====== */ 
.forgot .form-inline .form-group {
    height: 65px;
}
.submitted {
    display: none;
}

/* ====== JOIN PAGE ====== */ 
.tab {
    display: none;
}
.tab-btn {
    margin: 0 auto;
}
.tab-steps {
    text-align: center;
    margin-top: 40px;
}
/* Tab circles */
.step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
/* Mark the active step: */
.step.active {
    background-color: #b116e0;
    opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #b116e0;
}

.join span.heading {
    display: block;
    text-align: center;
    margin-bottom: 2%;
    font-size: 18px;
}

/* ==== SIGNUP PAGE ==== */ 
/* Spacing b/w first row inputs */
.signup #firstName,
.signup #lastName {
    width: 95%;
}

/* ==== REGISTRATION PAGE ==== */ 
/* Space b/w label and checkbox */
.form .form-group .form-check .col-form-label {
    margin-right: 15px !important;
}

/* Hours - section title */
.register #hr {
    margin-bottom: 0;
}
/* Hours - whole group */
.register fieldset.form-group {
    margin-bottom: 7%;
}
/* Hours - indiv groups */
.register fieldset .form-group {
    margin-bottom: 2px;
}
/* Hours inputs */
.register fieldset .form-inline.days .form-group {
    height: auto;
}

/* Input sizes */
.register #name-div {
    margin-top: 10px;
}
.register #city,
.register .form-group .form-control.phone {
    width: 98.5%;
}
.register #state {
    width: 96%;
}
.register .days .hours {
    width: 98%;
}

/* ==== SURVEY PAGE ==== */ 
.survey .form-group.header {
    text-align: center;
}

.survey span.heading {
    margin-bottom: 0;
}

.survey span.sub-heading{
    font-size: 16px;
}

/* ====== CONTACT FORM ====== */ 
.contact .form-item input.form-control {
    line-height: 1.2;
}
.contact .form-item input.form-control,
.contact .form-item textarea.form-control {
    font-size: 14px;
    margin-bottom: 10px;
}
.contact .email {
    padding-left: 0;
}
#success.unsent {
    display: none;
}
#success.sent {
    display: block;
    margin: auto;
    padding-top: 10%;
    text-align: center;
}
#success.sent p {
    font-size: 15px;
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .form .form-group .form-control  {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    form.login,
    form.forgot {
        max-width: 80%;
        width: 100%;
    }

    form.reset {
        max-width: 95%;
        width: 100%;
    }

    .form .control-label {
        font-size: 16px;
    }

    .form .form-group span.help {
        line-height: 14px;
        font-size: 8px;
    }

    /* ==== JOIN ==== */ 
    /* Tab circles */
    .tab-steps {
        margin-top: 25px;
    }
    .step {
        height: 8px;
        width: 8px;
    }
}

@media (max-width: 767px) {
    form.login,
    form.forgot,
    form.reset {
        max-width: 100%;
        width: 100%;
    }

    .form .form-inline .form-group {
        padding: 0;
        margin-bottom: 0;
    }

    .form span.details {
        margin: 6% 0;
    }

    .join span.sub-heading {
        font-size: 15px;
        line-height: normal;
    }

    /* Inputs text size */
    .form .form-group .control-label,
    .form .form-group .form-control {
        font-size: 16px;
    }

    /* Floating labels - regular */
    .form .form-group .control-label {
        line-height: 1px;
        -webkit-transform: translate3d(8px, 9px, 0) scale(0.9) perspective(1px);
        -moz-transform: translate3d(8px, 9px, 0) scale(0.9) perspective(1px);
        -ms-transform: translate3d(8px, 9px, 0) scale(0.9) perspective(1px);
        -o-transform: translate3d(8px, 9px, 0) scale(0.9) perspective(1px);
        transform: translate3d(8px, 9px, 0) scale(0.9) perspective(1px);
    } 
    /* Floating labels - focused */
    .form .form-group.focused .control-label {
        line-height: 1px;
        -webkit-transform: translate3d(0px, -9px, 0) scale(0.9) perspective(1px);
        -moz-transform: translate3d(0px, -9px, 0) scale(0.9) perspective(1px);
        -ms-transform: translate3d(0px, -9px, 0) scale(0.9) perspective(1px);
        -o-transform: translate3d(0px, -9px, 0) scale(0.9) perspective(1px);
        transform: translate3d(0px, -9px, 0) scale(0.9) perspective(1px);
    }  
    
    /* Align passwords reqs directly between password field & confirmed field */
    .form .pwd .form-group:nth-child(1){
        height: 55px;
    }
    .form .pwd .form-group:nth-child(2){
        height: 155px;
    }
    .form .pwd .form-group:nth-child(3){
        height: 60px;
    }

    /* Error message */
    #errorMsg {
        font-size: 14px;
    }

    /* ==== JOIN ==== */ 
    /* Tab circles */
    .tab-steps {
        margin-top: 15px;
    }
    .step {
        height: 7px;
        width: 7px;
    }

    /* ==== SIGNUP ==== */ 
    .signup #firstName,
    .signup #lastName {
        width: 100%;
    }
    
    /* ==== REGISTRATION ==== */ 
    /* Input height */
    .register .form-inline .form-group {
        height: 60px;
    }
    /* Input widths */
    .register #city,
    .register .phone {
        width: 100%;
    }

    /* Hours section title */
    .register #hr {
        margin-top: 1em;
        text-align: center;
    }
    .register #hr .col-form-label {
        font-size: 17px;
        width: 100%;
        padding-bottom: 0;
    }
    .register .form-check-inline {
        display: block;
        margin-bottom: 10px;
    }

    /* Hours day labels */
    .register .form-group .form-check .col-form-label {
        font-size: 17px;
        padding-bottom: 0;
    }
    /* Hours inputs */
    .register fieldset .form-inline.days .form-group {
        height: auto;
        width: auto;
    }
    .register fieldset .form-inline.days .form-group:nth-child(3),
    .register fieldset .form-inline.days .form-group:nth-child(4) {
        margin-top: 6%;
    }

    /* ==== SURVEY ==== */ 
    .survey span.heading {
        margin-bottom: 4%;
    }

    .survey .form-group {
        margin-bottom: 1.8em;
    }
    /* Text fields */
    .survey .form-control {
        padding-top: 0;
    }

    /* Floating labels - focused */
    .survey .form-group.focused .control-label {
        line-height: 1;
        -webkit-transform: translate3d(0px, -32px, 0) scale(0.9) perspective(1px);
        -moz-transform: translate3d(0px, -32px, 0) scale(0.9) perspective(1px);
        -ms-transform: translate3d(0px, -32px, 0) scale(0.9) perspective(1px);
        -o-transform: translate3d(0px, -32px, 0) scale(0.9) perspective(1px);
        transform: translate3d(0px, -32px, 0) scale(0.9) perspective(1px);
    }  

    .survey .form-group span.help {
        line-height: 14px;
        font-size: 8px;
    }

    /* Input field */
    .survey input.form-control {
        height: 50px;
    }

    .survey .form-group .control-label {
        line-height: 16px;
    }
}