/*===== General =====*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #555;
}

img {
    max-width: 100%;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

i,
span,
a {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p, 
label {
    font: normal normal 300 17px 'Arial', sans-serif;
    line-height: 28px;
    color: #555;
    margin: 0px;
}

@media (max-width: 767px) {
    p, label {
        font-size: 15px;
    }
}

input {
    border: 1px solid #b116e0;
}

/*===== Colored Background Style =====*/
.style-2 {
    background-image: linear-gradient(
        to bottom right,
        #0000cd,
        #b116e0,
        #e708ae
    );
}

.style-2 .section-title .title,
.style-2 p {
    color: #fff;
}

/*===== Title Style =====*/
.section-title .title,
.rounded-title .title {
    font: normal normal 600 45px "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.section-title .title {
    color: #0000cd;
    padding-bottom: 20px;
}

.rounded-title {
    color: #ffffff;
    padding: 5%;
    border-radius: 15px;
}

@media (max-width: 769px) {
    .section-title .title {
        font-size: 36px;
    }

    div#rounded-continer {
        padding-left: 0;
        padding-right: 0;
    }

    .rounded-title .title {
        font-size: 25px;
        margin: 5px 0;
    }
}

.sub-title {
    font-size: 22px;
    font-weight: 600;
    padding-top: 8%;
    padding-bottom: 5px;
    margin: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #32333c;
}

.label {
    font-size: 13px;
    font-weight: 300;
    margin-top: 0;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .sub-title {
        font-size: 19px;
    }

    .label {
        font-size: 10px;
    }
}

/*===== Box Style =====*/
.box {
    margin-top: 25px;
}

/*===== Button Style =====*/
.main-btn {
	display: inline-block;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid #e708ae;
	padding: 0 40px;
	font-size: 15px;
	line-height: 48px;
	border-radius: 15px;
	color: #fff;
	z-index: 5;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background-color: #e708ae;
	text-transform: uppercase;
}

.sub-btn {
  	display: block;
	font-weight: 500;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid #e708ae;
	padding: 0 40px;
	font-size: 15px;
	line-height: 48px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: #fff;
	z-index: 5;
	background-color: #e708ae;
	text-transform: uppercase;
}

.main-btn:hover, .sub-btn:hover {
    background-color: #0000cd;
    color: #ffffff;
	border-color: #0000cd;
	text-decoration: none;
}

button.thin-btn {
    font-weight: 500;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    border: 2px solid #ffffff;
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 15px;
    width: 30%;
    color: #e708ae;
    background-color: #ffffff;
}

button.thin-btn:hover {
    background-color: transparent;
    color: #ffffff;
}

/*====== NAV ======*/
.navigation {
    padding: 30px 0;
    background-color: #fff;
    border-bottom: 1px solid #0000cd;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation.sticky {
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar {
    padding: 0;
    position: relative;
}

.navigation .navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 5px;
}

.navigation .navbar .navbar-toggler {
    padding: 2px 6px;
}

.navigation .navbar .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #0000cd;
    margin: 5px 0;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0;
}

.navigation .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 158%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 99;
        padding: 3px 12px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 158%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 99;
        padding: 3px 12px;
    }
}

.navigation .navbar .navbar-nav .nav-item, .navigation .navbar .navbar-nav .login {
    margin-left: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item{
        margin: 4px 0;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item {
        margin: 4px 0;
    }
}

.navigation .navbar .navbar-nav .nav-item:first-child {
    margin-left: 0;
}

.navigation .navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.navigation .navbar .navbar-nav .nav-item a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: 0;
    right: 0;
    top: 25px;
    background-color: #e708ae;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transition:scaleX(0);
    -ms-transition:scaleX(0);
    -o-transition:scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .nav-item a::before {
        display: none;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .nav-item a::before {
        display: none;
    }
}

.navigation .navbar .navbar-nav .nav-item.active a,
.navigation .navbar .navbar-nav .nav-item:hover a {
    color: #0000cd;
    text-decoration: none;
}

.navigation .navbar .navbar-nav .nav-item.active a::before,
.navigation .navbar .navbar-nav .nav-item:hover a::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform:scaleX(1);
    -ms-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform: scaleX(1);
}

/* For Login Button */
.navigation .navbar .navbar-nav .login a {
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    position: relative;
    background-color: #e708ae;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;
    margin-top: -10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navigation .navbar .navbar-nav .login {
        margin: 4px -2px;
    }
}

@media (max-width: 767px) {
    .navigation .navbar .navbar-nav .login {
        margin: 4px -2px;
    }
}

.navigation .navbar .navbar-nav .login a:hover {
    background-color: #0000cd;
    text-decoration: none;
}
.navigation .navbar .navbar-nav .login a:active {
    background-color: #b116e0;
    text-decoration: none;
}

/*====== HEADER ======*/
.intro {
    padding-top: 20%;
    padding-bottom: 10%;
}

.header-content {
    height: 730px;
    width: 100%;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    background-color: #fbfbfb;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .intro {
        padding: 10%;
        padding-top: 25%;
    }

    .header-content {
        height: 550px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding: 10%;
        padding-top: 40%;
    }

    .header-content {
        height: 550px;
    }
}

.header-content-left {
    position: relative;
}

.header-content-left .slogan {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
    word-spacing: 3px;
}

@media (max-width: 767px) {
    .header-content-left .slogan {
        font-size: 40px;
    }
}

.header-content-left .title {
    font-size: 60px;
    padding-bottom: 15px;
}

@media (max-width: 767px) {
    .header-content-left .title {
        font-size: 38px;
    }
}

.header-content-left p a {
    color: #fff;
    font-weight: 600;
}

.header-content-left p a:hover {
    color: #080891;
}

.header-image {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
}

.header-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border-bottom: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 58px;
    z-index: 11;
}

.header-image img {
    position: relative;
    z-index: 5;
}

/*====== POPUP =====*/
.popup.open {
    display: inline-block;
}

.popup {
    display: none;
    position: fixed;
    z-index: 5000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup-container {
    padding: 30px;
    position: relative;
    font-size: 17px;
    background-color: white;
    width: 50%;
    margin: 0 25%;
    border: 2px solid #b116e0;
    border-radius: 15px;
    z-index: 9999;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .popup-container {
        font-size: 15px;
        margin: 0 5%;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .popup-container {
        font-size: 15px;
        margin: 0;
        width: 100%;
    }
}

/* Close Button */
.close-btn {
    color: #0000cd;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #e708ae;
    text-decoration: none;
}

/*====== ALL PAGES/SECTIONS ======*/
.intro, 
#about, 
#store, 
#register,
#login,
#account {
    padding-top: 18%;
    padding-bottom: 10%;
}

#func,
#team,
#forum {
    padding-top: 70px;
    padding-bottom: 130px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .intro, 
    #about, 
    #store, 
    #register,
    #login,
    #account {
        padding: 10%;
        padding-top: 25%;
    }

    #func,
    #team,
    #forum  {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

@media (max-width: 767px) {
    .intro, 
    #about, 
    #store, 
    #register,
    #login,
    #account {
        padding: 10%;
        padding-top: 40%;
    }

    #func,
    #team,
    #forum {
        padding-top: 45px;
        padding-bottom: 80px;
    }
}

.content {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border: #0000cd solid 2px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media (max-width: 767px) {
    .content {
        padding: 20px;
    }
}

.content p {
    font-size: 16px;
    color: #555;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.content i {
    font-size: 30px;
    width: 74px;
}

.content img {
    border-radius: 15px;
}

/* ====== MAP ====== */
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

#map {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.popup-title, 
.popup-address {
    text-align: center;
    color: #0000cd;
}

.popup-title {
    font-weight: 500;
}

.popup-details {
    display: flex;
    justify-content: space-between;
}

.popup-link {
    text-align: center;
    margin-top: 5px;
    bottom: 0;
}

.popup-link a {
    width: 100%;
    color: #ffffff;
    background-color: #0000cd;
    padding: 3px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.popup-link a:hover {
    color: #ffffff;
    background-color: #e708ae;
    text-decoration: none;
}

/* ====== STORE PAGE ====== */
.back {
    color: #ffffff;
    font-size: 14px;
    margin-left: 5%;
    top: 16%;
    position: absolute;
}

.back a {
    text-decoration: none;
    color: #ffffff;
}

.back a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.store-links ul {
    text-decoration: none;
}

.store-links li {
    line-height: 2em;
}

.store-links li i {
    color: #e708ae;
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
	border-radius: 0;
	margin-right: 15px;
}

.store-links li a {
    display: inline;
    color: #0000cd;
    font-size: 16px;
}

.store-links li a:hover {
    color: #e708ae;
}

@media (max-width: 767px) {
    .store-links li i {
        padding: 15px 0;
    }
}

.store-links p.hours {
    margin-bottom: 0;
}

.divider {
    position: absolute;
    left: 26.5%;
    /* top: 55%; */
    bottom: 0;
    border-left: 2px dotted;
    border-image-slice: 1;
    z-index: -1000;
}

.border-gradient {
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to top,
        #0000cd,
        #b116e0,
        #e708ae
    );
}

.forum-content p {
    font-size: 16px;
}

/* ====== SIGNUP / NEW STORE PAGE ====== */ 
#login form,
#register form {
    max-width: 70%;
    width: 70%;
    margin-top: 5%;
}

/* Input styles */
.register .form-inline .form-group {
    display: block;
    height: 75px;
    width: 100%;
    padding: 0;
}
.register .form-group .form-control {
    font-size: 18px;
    border: 1px solid #b116e0;
    max-width: 100%;
    width: 100%;
}

/* Floating labels - Regular */
.register .form-group .control-label {
    max-width: 70%;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(8px, 9px, 0) scale(1);
    transform-origin: top left;
    transition: 240ms;
}
.register .form-group .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}  
/* Help box - Regular */
.register .form-group span.help,
.signup .form-group span.unmet,
.signup .form-group span.unmatched {
    display: none;
    font-size: 10px;
}
.register .form-group span.temp {
    display: block;
    color: #ffffff;
    font-size: 10px;
}

/* Floating labels - Focused */
.register .form-group .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #e708ae;
}
.register .form-group.focused .control-label {
    opacity: 1;
    transform: translate3d(0px, -10px, 0) scale(0.7);
    line-height: 1px;
    color: #e708ae;
}
.register .form-control:focus::-webkit-input-placeholder {
    transition: none;
}
.register .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}
/* Help box - Focused */
.register .form-group.focused span.help {
    display: block;
}
.register .form-group.focused span.temp {
    display: none;
}

/* Floating labels - Filled */
.register .form-group .form-control.filled,
.register .form-group.filled .control-label {
    border-color: #e708ae;
    opacity: 1;
    transform: translate3d(0px, -10px, 0) scale(0.85);
    line-height: 1px;
}
.register .form-group.filled .control-label {
    font-size: 16px;
    color: #e708ae;
}

/* Error Message */
.register .errorMsg {
    color: #f72942;
    text-align: center;
    display: block;
}

/* ====== SIGNUP PAGE ====== */ 
/* Spacing b/w first row inputs */
.signup .form-inline:nth-child(1) .form-control:nth-child(1),
.signup .form-inline:nth-child(1) .form-control:nth-child(2) {
    width: 95% !important;
}

/* Password requirements */
.signup ul li.reqs {
    font-size: 15px;
    padding-left: 5%;
}
/* Add a green text color and a checkmark when the requirements are right */
.signup ul li.reqs.valid {
    color: #24b954;
}
.signup ul li.reqs.valid:before {
    content: '✓';
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.signup ul li.reqs.invalid {
    color: #f72942;
}
.signup ul li.reqs.invalid:before {
    color: #f72942;
    content: 'x';
}

/* ====== NEW STORE PAGE ====== */ 
.register span.heading {
    display: block;
    text-align: center;
    margin-bottom: 2%;
}

/* Space b/w label and checkbox */
.register .form-group .form-check .col-form-label {
    margin-right: 15px !important;
}

/* Hours - section title */
.register #hr {
    margin-bottom: 0;
}
/* Hours - whole group */
.register fieldset.form-group {
    margin-bottom: 7%;
}
/* Hours - indiv groups */
.register fieldset .form-group {
    margin-bottom: 2px;
}
/* Hours inputs */
.register fieldset .form-inline.days .form-group {
    height: auto;
}

/* Textarea style */
.register .form-group .control-label.survey {
    max-width: 60%;
}

/* Input sizes */
.register #name-div {
    margin-top: 10px;
}
.register #city,
.register #phone {
    width: 98.5%;
}
.register #state {
    width: 95%;
}
.register .days .hours {
    width: 98%;
}

/* .register .days .form-group input["type='select'"] {
    width: 95% !important;
} */

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    #login form, 
    #register form {
        max-width: 75%;
        width: 75%;
    }

    .register .form-group .form-control  {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #login form, 
    #register form {
        max-width: 100%;
        width: 100%;
    }

    .register .form-group .control-label {
        font-size: 16px;
    }

    .register .control-label {
        font-size: 16px;
    }

    .register .form-group span.help,
    .signup .form-group span.unmet,
    .signup .form-group span.unmatched {
        font-size: 8px;
    }
    
    /* Textarea style */
    .register .form-group .control-label.survey {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    #login form, 
    #register form {
        max-width: 100%;
        width: 100%;
    }

    .register .form-inline .form-group {
        height: 60px;
        padding: 0;
        margin-bottom: 0;
    }

    /* Inputs text size */
    .register .form-group .control-label,
    .register .form-group .form-control {
        font-size: 16px;
    }

    /* Floating labels - regular */
    .register .form-group .control-label {
        transform: translate3d(8px, 9px, 0) scale(0.9);
    } 
    /* Floating labels - focused */
    .register .form-group.focused .control-label {
        transform: translate3d(0px, -9px, 0) scale(0.9);
    }    

    /****** SIGNUP ******/
    .signup div.col-md-6 {
        padding: 0;
    }

    .signup div:nth-child(odd).col-md-6 {
        margin-bottom: 5px;
    }

    /****** NEW STORE ******/
    /* Input sizes */
    .register #city,
    .register #phone {
        width: 100%;
    }
    
    /* Section titles */
    .register span.heading,
    .register .col-form-label {        
        font-size: 19px;
        padding-bottom: 0;
    }
    /* Hours section title */
    .register #hr {
        margin-top: 1.4em;
    }
    .register #hr .col-form-label {
        width: 100%;
        padding-bottom: 0;
    }
    .register .form-check-inline {
        display: block;
    }

    /* Hours day labels */
    .register .form-group .form-check .col-form-label {
        font-size: 17px;
    }
    /* Hours inputs */
    .register fieldset .form-inline.days .form-group {
        height: auto;
        width: auto;
    }
    .register fieldset .form-inline.days .form-group:nth-child(3),
    .register fieldset .form-inline.days .form-group:nth-child(4) {
        margin-top: 6%;
    }

    /* Survey textarea style */
    .register .form-group .control-label.survey {
        max-width: 70%;
    }
    .register .form-group textarea.form-control {
        margin-top: 10%;
    }
}

/* Remove arrows for input[type=number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ====== ACCOUNT PAGE ====== */
textarea.forum.form-control, 
input.forum.form-control {
    border-width: 3px;
    border-style: solid;
    padding: 1rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        to bottom right,
        #0000cd,
        #b116e0,
        #e708ae
    );
}

button.forum.thin-btn {
    color: #ffffff;
    border-color: #0000cd;
    background-color: #0000cd;
}

button.forum.thin-btn:hover {
    border-color: #e708ae;
    background-color: #e708ae;
}

/* ====== FOOTER ====== */
footer {
	padding: 4% 0 2%;
}

.footer-widget .icon span {
    position: relative;
    margin: 0 10px 15px -30px;
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 22px;
	text-align: center;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
}

.footer-widget .icon span i {
    font-size: 12px;
}

.footer-widget .list li {
	margin-bottom: 5px;
}

.footer-widget .icon a,
.footer-widget .list li a {
    color: #ffffff;
    font: 14px "Ariel", sans-serif; 
}

.footer-title {
    font: normal bold 30px "Ariel", sans-serif;
	color: #fff;
	margin-bottom: 28px;
}

/* Contact Form */
.footer-widget .contact-form .form-item input.form-control {
    line-height: 1.2;
}

.footer-widget .contact-form .form-item input.form-control,
.footer-widget .contact-form .form-item textarea.form-control {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-widget .contact-form .email {
    padding-left: 0;
}

@media (max-width: 1199px) {
	.footer-title {
		font-size: 18px;
    }  
}

@media (max-width: 991px) {
	.footer-title {
		margin-bottom: 10px;
    }
    
    #footer .contact-form {
		margin: 20px 0;
	}
}

@media (max-width: 767px) {
    #footer .links, 
    #footer .contact-info {
        margin-bottom: 2%;
    }

    .footer-widget .icon span {
        margin: 0 10px 15px 0;
    }

    .footer-widget .contact-form .email {
        padding-left: 15px;
    }
}




