<!--====== ACCOUNT - STORE INFO ======-->
<!-- Row Start -->
<div class="row justify-content-center">

    <!-- Store Details -->
    {{> store_details store=store}}

    <!-- Column - Capacity & Forum -->
    <div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">

        <!-- QR Code Links -->
        {{> store_qrcodes }}

        <!-- Capacity Form & Data -->
        {{> store_title label="Capacity"}}
        {{> form_capacity details=details address=store.address}}
        <hr>
        {{> store_capacity details=details}}

        <!-- Forum Form & Data -->
        {{> store_title label="Forum"}}
        {{> form_forum address=store.address}}
        <hr>
        {{#each store.forum as |msg|}}
            {{> forum_post account=true msg=msg}}
        {{/each}}
    </div>
    <!-- Column End -->

</div>
<!-- Row End -->
