<!--====== ACCOUNT - STORE INFO ======-->
<!-- Row Start -->
<div class="row justify-content-between">

    <!-- Column - Store Details -->
    <div class="col-lg-5 col-md-4 col-sm-3">
        {{> store_details store=store}}
    </div>
    <!-- Column End -->

    <!-- Column - Capacity & Forum -->
    <div class="col">
        <!-- Capacity Form & Data -->
        {{> store_title label="Capacity"}}
        {{> form_capacity details=details}}
        <hr>
        {{> store_capacity details=details}}

        <!-- Forum Form & Data -->
        {{> store_title label="Forum"}}
        {{> form_forum}}
        <hr>
        {{#each store.forum as |msg|}}
        {{> forum_post account=true msg=msg}}
        {{/each}}
    </div>
    <!-- Column End -->

</div>
<!-- Row End -->