<!--====== AUTHENTICATION - JOIN FORM ======-->
<div class="col-lg-8 col-md-10 col-sm-10 col-xs-12">
    <form id="join" class="join form" method="POST">

        <!-- Form Tabs -->
        <!-- Tab 1 - Signup -->
        <div class="tab">
            {{> join_signup}}
        </div>
        <!-- Tab 2 - Register -->
        <div class="tab">
            {{> join_register}}
        </div>
        <!-- Tab 3 - Survey -->
        <div class="tab">
            {{> join_survey}}
        </div>

        <!-- Flash & Error Messages -->
        <span class="flashMsg purple">{{{message}}}</span>
        <span class="errorMsg red">{{{error}}}</span>

        <!-- Buttons -->
        <div style="overflow: auto; text-align: center;">
            <div class="tab-btn">
                <!-- Button - Previous (Back) -->
                <button type="button" id="prevBtn" class="main-btn" onclick="nextPrev(-1)">Back</button>
                <!-- Button - Next (Submit) -->
                <button type="button" id="nextBtn" class="main-btn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Tab Steps -->
        <div class="tab-steps">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
</div>