<!--====== AUTHENTICATION - LOGIN FORM ======-->
<form class="login form" method="POST">

    <!-- Link - Create Account -->
    <span class="details">New to CapTracks? <a href="/join">Create an account</a></span>

    <!-- Input Row - Email -->
    <div class="form-inline">
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input id="loginEmail" type="text" class="form-control" name="email" autocomplete="on" required>
        </div>
    </div>

    <!-- Input Row - Password -->
    <div class="form-inline">
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input id="loginPassword" type="password" autocomplete="current-password"
                class="form-control" name="password" required>
            <span class="details"><a href="/forgot">Forgot password?</a></span>
        </div>
    </div>

    <!-- Link - Privacy & Terms -->
    <span class="details">By signing in to your account, you agree to our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms &amp; Conditions</a>.</span>

    <!-- Flash & Error Messages -->
    <span class="flashMsg">{{{message}}}</span>
    <span class="errorMsg">{{{error}}}</span>

    <!-- Button - Submit -->
    <div class="submit-btn d-flex justify-content-center">
        <input id="loginBtn" class="main-btn" type="submit" value="Log In">
    </div>
</form>