<!--====== AUTHENTICATION - RESET FORM ======-->
<form class="reset form" method="POST">

    <!-- Password Inputs & Requirements -->
    {{> input_password label1="New Password" label2="Confirm New Password"}}

    <!-- Flash & Error Messages -->
    <span class="flashMsg purple">{{message}}</span>
    <span class="errorMsg white">{{error}}</span>

    <!-- Button - Submit -->
    <div class="submit-btn d-flex justify-content-center">
        <input id="resetBtn" class="main-btn" type="submit" value="Submit">
    </div>
</form>