<form class="contact-form" method="POST" action="client/assets/submit.php" name="contact" enctype="multipart/form-data">
    <div id="form">
        <!-- Inputs Row -->
        <div class="row">
            <!-- Name Input -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-item">
                    <input type="text" class="form-control" placeholder="Name*" name="name" required data-validation-required-message="Please enter your name">
                </div>
            </div>
            <!-- Email Input -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-item">
                    <input type="email" class="form-control" placeholder="Email*" name="email" required data-validation-required-message="Please enter your email address">
                </div>
            </div>
            <!-- Phone Number Input -->
            <div class="col-12">
                <div class="form-item">
                    <input type="text" class="form-control" placeholder="Subject" name="subject" required data-validation-required-message="Please enter a subject for your message">
                </div>
            </div>
        </div> <!-- End Input Row -->
        <!-- Message Textarea -->
        <div class="form-item">
            <textarea class="form-control" rows="4" placeholder="Message" name="message" required data-validation-required-message="Please enter a message"></textarea>
            <div id="success"></div>
        </div>
        <div class="d-flex justify-content-right">
            <button class="thin-btn" type="submit" name="submit">Send</button> 
        </div>
    </div>
</form> <!-- End Form -->