<!--====== FOOTER SECTION ======-->
<footer id="footer" class="style-2">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">

            <!-- Column - Quick Links -->
            <div class="links col-lg-4 col-md-4 col-sm-4 col-xs-10">
                <div class="footer-widget">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul class="list">
                        <li><a href="/map">Find A Store</a></li>
                        <li><a href="/customers">Why Use CapTracks? - Customers</a></li>
                        <li><a href="/vendors">Why Use CapTracks? - Vendors</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <!-- Column End -->

            <!-- Column - Contact Form -->
            <div class="contact-form col-lg-8 col-md-8 col-sm-8">
                <div class="footer-widget">
                    <h5 class="footer-title">Contact Us</h5>
                    <div class="icon d-flex justify-content-around">
                        <span class="contact-phone">
                            <i class="fa fa-phone"></i>
                            <a href="tel:646-753-1753">+1 (646) 753-1753</a>
                        </span>
                        <span class="contact-email">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@captracks.com">info@captracks.com</a>
                        </span>

                    </div>
                    {{> form_contact }}
                </div>
            </div>
            <!-- Column End -->

        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</footer>
