<!--====== FOOTER START ======-->
<footer id="footer" class="style-2">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="footer-widget">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul class="list">
                        <li {{#if (eq title 'Home')}}class="nav-item active"{{else}}class="nav-item"{{/if}}><a href="/">Home</a></li>
                        <li {{#if (eq title 'About')}}class="nav-item active"{{else}}class="nav-item"{{/if}}><a href="/about">About Us</a></li>
                        <li {{#if (eq title 'Add Store')}}class="nav-item active"{{else}}class="nav-item"{{/if}}><a href="/register/store">Add Your Store</a></li>
                        <li><a href="/assets/CapTracks_Privacy_Policy.pdf" target="_blank">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="footer-widget">
                    <h5 class="footer-title">Contact Us</h5>
                    <div class="icon">
                        <span><i class="fa fa-phone"></i></span>
                        <a href="tel:646-753-1753">+1 (646) 753-1753</a>
                    </div>
                    <div class="icon">
                        <span><i class="fa fa-envelope"></i></span>
                        <a href="mailto:info@captracks.com">info@captracks.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="footer-widget">
                    {{> contact }}
                </div>
            </div>
        </div>
    </div>
</footer> 
<!-- ====== FOOTER ENDS ====== -->
