<!--====== INLINE FORM - CONTACT FORM ======-->
<form class="contact form" method="POST" action="contact.php">

    <!-- Input Row - User Info -->
    <div class="row">
        <!-- Input - Full Name -->
        <div class="name col-lg-6 col-md-6 col-sm-6">
            <div class="form-item">
                <input type="text" class="form-control" placeholder="Name*" name="name" required data-validation-required-message="Please enter your name">
            </div>
        </div>
        <!-- Input - Email -->
        <div class="email col-lg-6 col-md-6 col-sm-6">
            <div class="form-item">
                <input type="email" class="form-control" placeholder="Email*" name="email" required data-validation-required-message="Please enter your email address">
            </div>
        </div>
        <!-- Input - Phone -->
        <div class="col-12">
            <div class="form-item">
                <input type="text" class="form-control subject" placeholder="Subject*" name="subject" required data-validation-required-message="Please enter a subject for your message">
            </div>
        </div>
    </div>

    <!-- Message Textarea -->
    <div class="form-item">
        <textarea class="form-control" rows="4" placeholder="Message*" name="message" required data-validation-required-message="Please enter a message"></textarea>
    </div>

    <!-- Button - Submit -->
    <div class="d-flex justify-content-right">
        <button id="send-msg" class="thin-btn" type="submit" name="submit">Send</button>
    </div>
</form>

<!--=== Submitted Text Message ===-->
<div id="success" class="unsent">
    <p>Thank you for your message!</p>
    <p>Someone from our team will get back to you within 24-48 hours.</p>
</div>
