 <div class="forum-box">
    <div class="forum-content">
        {{!-- TODO: CHECK IF ACCOUNT LOGGED IN --}}
        {{#if account}}
        <form method="POST" action="/post/delete/{{msg._id}}">
            <button type="submit" class="post-delete"><i class="fas
                    fa-times"></i></button>
        </form>
        {{/if}}
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="post-title">{{msg.title}}</h5>
            <h6 class="post-date">{{msg.createdOn}}</h6>
        </div>
        <br>
        <p class="post-text">{{msg.text}}</p>
    </div>
</div>
