 <div class="forum-box">
    <div class="forum-content">
        <h5 class="post-title float-left">{{msg.title}}</h5>
        <h6 class="label float-right">{{msg.createdOn}}</h6>
        <br>
        <p class="post-text">{{msg.text}}</p>
    </div>
</div>
