<div class="col-sm-9">
    <div class="forum-box">
        <div class="forum-content">
            <h5 class="post-title float-left">TITLE{{msg.title}}</h5>
            <h6 class="label float-right">DATE{{msg.createdOn}}</h6>
            <br/>
            <hr>
            <p class="post-text">TEXT{{msg.text}}</p>
        </div>
    </div>
</div>
