<!--====== STORE CONTENT SECTION ======-->
<section id="forum">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row justify-content-between">

            <!-- Column - Store Info Column -->
            <div class="col-lg-4 col-md-4 col-sm-3">
                {{> store_details store=store}}
            </div>
            <!-- Column End -->

            <!-- Column - Capacity & Forum -->
            <div class="col">
                {{#if store.details}}
                <!-- Capacity -->
                {{> store_title label="Capacity"}}
                {{> store_capacity details=details}}
                {{/if}}
                <!-- Forum -->
                {{> store_title label="Forum"}}
                {{#if store.forum}}
                {{#each store.forum as |msg|}}
                {{> forum_post msg=msg}}
                {{/each}}
                {{else}}
                <p class="no-forum">No forum posts yet. Check back soon for an
                    update!</p>
                {{/if}}
            </div>
            <!-- Column End -->

        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
