<!--====== PARTIAL - FIRST PAGE INTRO ======-->
<!-- Container Start -->
<div class="intro container">
    <!-- Row Start -->
    <div class="row align-items-center">

        <!-- Column - Intro Info -->
        <div class="col-xl-6 col-lg-6">
            <div class="header-content-left">
                <h2 class="slogan">Be at the right place, at the right time.</h2>
                <p>Track current capacity and other essential information at local grocery and convenient stores. Manage your time better with CapTracks.</p>
                <br>
                    <p>For inquiries, comments, and feedback, feel free to reach out to us at <a href="mailto:info@captracks.com?subject=Question About CapTracks">info@captracks.com</a></p>
                </div> 
            </div>
            {{!-- USE FOR IMAGE IF ADDED LATER --}}
            {{!-- <div class="col-lg-6 offset-xl-1">
                <!-- Image -->
                <div class="header-image d-none d-lg-block">
                    <!-- <img src="assets/img/banner/hero.png" alt="hero"> -->
                </div>
            </div> --}}
        </div>
        <!-- Column End -->

    </div>
    <!-- Row End -->
</div>
<!-- Container End -->