<div class="survey">
    <div class="form-group header">
        <span class="heading">Survey Questions</span>
        <span class="sub-heading">Please answer the following questions as honestly as possible.</span>
    </div>
    <div class="form-group col-12">
        <label for="survey1" class="control-label survey">What is your business / what type of retailer are you?</label>
        <textarea id="survey1" name="survey1" class="form-control" rows="3" required></textarea>
    </div>
    <div class="form-group col-12">
        <label for="survey2" class="control-label survey">What digital advertisement services do you currently use?</label>
        <textarea id="survey2" name="survey2" rows="5" class="form-control" required></textarea>
        <span class="help">Please be specific.</span>
    </div>
    <div class="form-group col-12">
        <label for="survey3" class="control-label survey">How many registers does your store have?</label>
        <input type="number" id="survey3" name="survey3" class="form-control" required>
        <span class="help">Please try to provide the most precise count.</span>
    </div>
    <div class="form-group col-12">
        <label for="max" class="control-label survey">What is the maximum number of customers allowed inside at a given time?</label>
        <input type="number" id="max" name="max" class="form-control" required>
        <span class="help"></span>
    </div>
</div>
