<!--====== JOIN - SURVEY QUESTIONS FORM ======-->
<div class="survey">

    <!-- Header -->
    <div class="form-group header">
        <span class="heading">Survey Questions</span>
        <span class="sub-heading">Please answer the following questions as honestly as possible.</span>
    </div>

    <!-- Input Row - Survey 1 -->
    <div class="form-group">
        <label for="survey1" class="control-label survey">What is your business / what type of retailer are you?</label>
        <textarea id="survey1" name="survey1" class="form-control" rows="2" required></textarea>
        <span class="help">Examples: Grocery store, convenience store, bagel shop.</span>
    </div>

    <!-- Input Row - Survey 2 -->
    <div class="form-group">
        <label for="survey2" class="control-label survey">Which digital advertisement services do you currently use?</label>
        <textarea id="survey2" name="survey2" rows="4" class="form-control" required></textarea>
        <span class="help">Examples: Google Ads, Facebook Ads.</span>
    </div>

    <!-- Input Row - Registers -->
    <div class="form-group">
        <label for="reg" class="control-label survey">How many registers does your store have?</label>
        <input type="number" id="reg" name="reg" class="form-control" required>
        <span class="help">Please provide a precise count.</span>
    </div>

    <!-- Input Row - Max Capacity -->
    <div class="form-group">
        <label for="max" class="control-label survey">What's the current maximum capacity of your store?</label>
        <input type="number" id="max" name="max" class="form-control" required>
        <span class="help">Please do not count employees in your answer.</span>
    </div>
</div>