<!--====== LOGIN FORM START ======-->
<div class="form-popup" id="storeForm">
    <div class="form-container">
        <span class="close-btn"><i class="fas fa-times"></i></span>
        <div class="overlay"></div>
        <form id="login" action="/account" method="POST">
            {{> header title="Vendor Login"}}
            <div class="inputs">
                <div class="form-group row">
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group row">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="error"></div>
            </div>
            <div class="submit-btn d-flex justify-content-center">
                <input id="loginBtn" class="main-btn" type="submit" value="Login">
            </div>
        </form>
        <p class="reg-link">Don't have an account? <a href="/signup">Add your store</a> to CapTracks today!</p>
    </div>
</div>
<!--====== LOGIN FORM END ======-->
<script src="/assets/js/validator.js"></script>
