<!--====== MAP - KEY ======-->
<div class="map-key d-flex justify-content-around collapsed">

    <!-- Key Icons -->
    <ul class="key-list">
        <li><p style="color:#ac01d5;">No Vendor</p></li>
        <li><p style="color:#009900">Low Capacity</p></li>
        <li><p style="color:#f0e602">Medium Capacity</p></li>
        <li><p style="color:#fa2043">High Capacity</p></li>
    </ul>
    <a href="#" class="btn-expand-collapse">
        <p>
            <i class="fas fa-angle-down"></i>
            Key
            <i class="fas fa-angle-down"></i>
        </p>
    </a>
</div>