<!--====== POPUP START ======-->
<div class="popup">
    <div class="popup-container">
        <span class="close-btn"><i class="fas fa-times"></i></span>
        <div class="overlay"></div>
        {{ content }}
        <div class="submit-btn d-flex justify-content-center">
            <input id="ok" class="main-btn" type="submit" value="Ok">
        </div>
    </div>
</div>
<!--====== POPUP END ======-->
