<!--====== PARTIAL - SECTION TITLE ======-->
<!-- Row Start -->
<div class="row justify-content-center">
    <!-- Column Start -->
    <div {{id}} class="col-lg-8 col-md-10 col-sm-10 col-xs-12">

        <div class="section-title text-center {{style}}">
            <!-- Title -->
            <h2 class="title">{{title}}</h2>
            <!-- Subtitle -->
            {{#if text}}
            <p>{{text}}</p>
            {{/if}}
        </div>

    </div>
    <!-- Column End -->
</div>
<!-- Row End -->