<div class="row justify-content-center">
    <div class="col-lg-8">
        <!-- Section Title -->
        <div class="section-title text-center">
            <h2 class="title">{{title}}</h2>
        </div>
    </div>
</div>