<!--====== STORE CONTENT - CAPACITY INFO ======-->
<div class="capacity-box info-box">
    <div class="capacity-content col">

        <!-- Row - Max Capacity -->
        <div class="row d-flex justify-content-between align-items-center">
            <p class="cap-title">Max Capacity:</p>
            <p class="cap-data">{{details.maxCapacity}} people</p>
        </div>

        <!-- Row - Current Capacity -->
        <div class="row d-flex justify-content-between align-items-center">
            <p class="cap-title">Current Capacity:</p>
            <p class="cap-data">{{details.capacity}}% full</p>
        </div>

        <!-- Row - Current Wait Time -->
        <div class="row d-flex justify-content-between align-items-center">
            <p class="cap-title">Current Wait Time:</p>
            <p class="cap-data">{{details.waitTime}} minutes</p>
        </div>

        <!-- Row - Last Update -->
        <div class="row cap-date d-flex justify-content-between align-items-center">
            <p class="cap-title">Last Updated:</p>
            <p class="cap-data post-date">{{details.updated}}</p>
        </div>
    </div>
</div>
