<div class="row justify-content-center">
    <div id="rounded-container" class="col-lg-9 col-12">
        <div class="rounded-title text-center style-2">
            <h2 class="title">{{title}}</h2>
        </div> 
    </div>
</div> 
