<!--================ ERROR PAGE START ================-->
<section id="error">
    <!-- Container Start -->
    <div class="container">

        <!-- Title -->
        {{> section_title title="Resource Not Found"}}
        <p class="stand-alone-text">We are very sorry for this inconvenience but it seems that the resource you are looking for is missing. We will look for it right away!</p>

        <!-- Link Back to Home -->
        <p class="back color">
            <i class="fas fa-chevron-left"></i>
            <a href="/">Return to home</a>
        </p>
    </div>
    <!-- Container End -->
</section>
<!--================ ERROR PAGE ENDS ================-->