{{!-- <!--====== ACCOUNT START ======--> --}}
<section id="account" class="style-2">
    {{> header title=(concat 'Welcome back, ' vendor.firstName)}}
</section>
<section id="forum">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 col-md-4 col-sm-3">
                {{> store_info store=store}}
            </div>
            <div class="divider border-gradient"></div>
            <div class="col">
                {{!-- 
                {{> info_title title="Capacity"}}
                <form class="capacity" action="/{{store.id}}/details" method="POST">
                <div class="d-flex justify-content-right">
                    <button class="forum thin-btn" type="submit">Update</button>
                </div>
                </form> --}}
                {{> info_title title="Forum"}}
                <form class="forum" action="/post/{{store.id}}" method="POST">
                <p>Add a post to your forum to keep your customers up to date.</p>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="title" class="control-label">Post Title</label>
                            <input id="title" type="text" class="form-control" name="title" required>
                            <span class="help">Give a title to your post.</span>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <textarea id="text" type="text" class="form-control" name="text" required></textarea>
                            <span class="help">Update your customers of anything from sales to current capacity.</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-right">
                        <button class="forum thin-btn" type="submit">Post</button>
                    </div>
                </form>
            </div>
            {{#each forum as |msg|}}
                {{> forum_post msg=msg}}
            {{/each}}
        </div>
    </div> <!-- Container End -->
</section>
{{!-- <!--====== ACCOUNT ENDS ======--> --}}