{{!-- <!--====== ACCOUNT START ======--> --}}
<section id="account" class="style-2">
    {{> header title=(concat 'Welcome back, ' vendor.firstName)}}
    <span id="data" style="display: none">{{{ store }}}</span> 
</section>
<section id="forum">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5 col-md-4 col-sm-3">
                {{> store_info store=store}}
            </div>
            <div class="divider border-gradient"></div>
            <div class="col">
                <h5>Forum</h5>
                <hr>
                <form class="forum" action="/post/{{store.id}}" method="POST">
                <p>Add a post to your forum to keep your customers up to date.</p>
                    <div class="form-group row">
                        <input class="forum form-control" id="title"  name="title" rows="5" placeholder="Title your post">
                    </div>
                    <div class="form-group row">
                        <textarea class="forum form-control" id="text"  name="text" rows="5" placeholder=""></textarea>
                    </div>
                    <div style="display: none;">
                        <input name="storeId" value={{store.id}}>
                    </div>
                    <div class="d-flex justify-content-right">
                        <button class="forum thin-btn" type="submit">Post</button>
                    </div>
                </form>
            </div>
            {{#each forum as |msg|}}
                {{> forum_post msg=msg}}
            {{/each}}
        </div>
    </div> <!-- Container End -->
</section>
{{!-- <!--====== ACCOUNT ENDS ======--> --}}