<!--================ ACCOUNT PAGE START ================-->
<!-- Header -->
{{> header id="account" title=(concat 'Hello, ' vendor.firstName)}}

<!-- Page Content -->
<section id="account-body">
    <!-- Container Start -->
    <div class="container">

        {{#if (eq title 'My Account')}}
        {{> account_store}}
        {{else}}
        {{> account_profile}}
        {{/if}}

    </div>
    <!-- Container End -->
</section>
<!--================ ACCOUNT PAGE ENDS ================-->

<!--===== Form Scripts =====-->
<script src="/assets/js/form-format.js"></script>
<script src="/assets/js/form-disable.js"></script>
<script src="/assets/js/form-validate.js"></script>
<script src="/assets/js/format.js"></script>