{{!-- <!--====== ACCOUNT START ======--> --}}
<section id="account" class="style-2">
    {{> header title=(concat 'Hello, ' vendor.firstName)}}
</section>
<section id="account-body">
    <div class="container">
        {{#if (eq title 'My Account')}}
        {{> account_store}}
        {{#else}}
        {{> account_profile}}
        {{/else}}
        {{/if}}
    </div> <!-- Container End -->
</section>
{{!-- <!--====== ACCOUNT ENDS ======--> --}}
<script src="/assets/js/form-format.js"></script>
<script src="/assets/js/form-disable.js"></script>
<script src="/assets/js/form-validate.js"></script>
<script src="/assets/js/format.js"></script>
