<!--================ ERROR PAGE START ================-->
<section id="error">
    <!-- Container Start -->
    <div class="container">

        <!-- Title -->
        {{> section_title title=title}}

        <!-- Page Content -->
        <p><a href=''>Back</a></p>

    </div>
    <!-- Container End -->
</section>
<!--================ ERROR PAGE ENDS ================-->