<!--================ EXIT PAGE START ================-->
<section id="exit">
    <!-- Container Start -->
    <div class="container">

        <!-- Title -->
        {{> section_title title=title text=(concat (concat 'Thank you for visiting ' store.name) ' on CapTracks!')}}
        <p class="exit-text">Please email us at <a href="mailto:info@captracks.com">info@captracks.com</a> with any questions or comments.</p>

        <!-- Link Back to Home -->
        <p class="back">
            <i class="fas fa-chevron-left"></i>
            <a href="/">Return to home</a>
        </p>

    </div>
    <!-- Container End -->
</section>
<!--================ EXIT PAGE ENDS ================-->