<!--================ EXIT PAGE START ================-->
<section id="exit">
    <!-- Container Start -->
    <div class="container">

        <!-- Title -->
        {{> section_title title=title text=(concat 'Thank you for visiting ' store.name}}

        <!-- Page Content -->
        <p><a href=''>Back</a></p>

    </div>
    <!-- Container End -->
</section>
<!--================ EXIT PAGE ENDS ================-->