<!--====== FORUM START ======-->
<section id="forum">
    <div class="container">
    </div> <!-- Container End -->
    {{!-- <span id="data" style="display: none;">{{{ forum }}}</span>  --}}
</section>
<!--====== FORUM ENDS ======-->