<!--====== JOIN STARTS ======-->
<section id="join">
    <div class="container">
        {{> title_bar title="Join CapTracks!"}}
        <div class="d-flex justify-content-center">
            <form id="regForm" class="join form" method="POST">
                <div class="tab">
                    {{> join_signup}}
                </div>
                <div class="tab">
                    {{> join_register}}
                </div>
                <div class="tab">
                    {{> join_survey}}
                </div>

                <div class="errorMsg white">{{message}}</div>

                <div style="overflow: auto; text-align: center;">
                    <div class="tab-btn">
                        <button type="button" id="prevBtn" class="main-btn"
                            onclick="nextPrev(-1)">Back</button>
                        <button type="button" id="nextBtn" class="main-btn"
                            onclick="nextPrev(1)">Next</button>
                    </div>
                </div>

                <div class="tab-steps">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
            </form>
        </div>
    </div> <!-- Container End -->
</section>
<!--====== JOIN ENDS ======-->
<script src="/assets/js/form-format.js"></script>
<script src="/assets/js/form-password.js"></script>
<script src="/assets/js/form-disable.js"></script>
<script src="/assets/js/form-validate.js"></script>