<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Title -->
        <title>{{title}}</title>

        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

        <!--====== Icons CSS ======-->
        <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome/css/all.css">
        <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome/css/all.min.css">

        <!--====== Style CSS ======-->
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/form.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">

        <!--====== Bootstrap CSS ======-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <!--====== Header ======-->
        <header id="home" class="style-2">
            <!-- Navigation -->
            {{> nav}}

            <!-- Introduction (First Page Only) -->
            {{#if intro}}
            {{> intro}}
            {{/if}}
        </header>

        {{{body}}}

        <!--====== Footer ======-->
        {{> footer}}

        <!--====== jQuery JS ======-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/assets/js/modernizr-3.6.0.min.js"></script>
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous"></script>
        <!--====== Bootstrap JS ======-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!--====== Main JS ======-->
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/form-post.js"></script>

        <!--====== Map Script ======-->
        {{#if displayMap}}
        <script src="/assets/js/map.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAko8lJfHW2TnHcJsvX0l4YrSHpdb0APhQ&callback=initMap&libraries=&v=weekly" defer></script>
        {{/if}}

    </body>
</html>