<!--================ LEGAL PAGE START ================-->
<section id="legal">
    <!-- Container Start -->
    <div class="container">

        <!-- Title -->
        {{> section_title title=title subtitle_1="Last updated August 20, 2020"}}

        <!-- Page Content -->
        {{#if (eq title 'Terms & Conditions')}}
        {{> legal_terms}}
        {{else}}
        {{> legal_privacy}}
        {{/if}}

    </div>
    <!-- Container End -->
</section>
<!--================ LEGAL PAGE END ================-->