<!--====== LOGIN START ======-->
<section id="login">
    <div class="container">
        {{> title_bar title="Log In"}}
        <div class="d-flex justify-content-center">
            <form class="login form" method="POST">
                <span class="details">New to CapTracks? <a href="/join">Create an account</a>.</span>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input id="loginEmail" type="text" class="form-control" name="email" required>
                        <span class="help">Enter the email associated with your account.</span>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input id="loginPassword" type="password" class="form-control" name="password" required>
                        <span class="details"><a href="/forgot">Forgot password?</a></span>
                    </div>
                </div>
                <span class="details">By signing in to your account, you agree to our <a href="/assets/CapTracks_Privacy_Policy.pdf">Privacy Policy</a> and <a href="">Terms & Conditions</a>.</span>
                
                <span class="errorMsg red">{{message}}</span>
                <div class="submit-btn d-flex justify-content-center">
                    <input id="loginBtn" class="main-btn" type="submit" value="Log In">
                </div>
            </form>
        </div>
    </div>
</section>
<!--====== LOGIN ENDS ======-->
<script src="/assets/js/form-format.js"></script>
<script src="/assets/js/form-validate.js"></script>



