<!--================ MAP PAGE START ================-->
<section id="map-section">

    <!-- Map Container -->
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
        <div id="map"></div>
    </div>

    <!-- Store Data -->
    <span id="data" style="display: none">{{{ convert stores }}}</span>
</section>
<!--================ MAP PAGE END ================-->
