<!--====== MAP START ======-->
<section id="map-section">
    <div class="container">
        <div id="map"></div>
    </div> <!-- Container End -->
    <span id="data" style="display: none">{{{ convert stores }}}</span> 
</section>
<!--====== MAP ENDS ======-->