<!--====== PROFILE START ======-->
<section id="account" class="style-2">
    {{> header title=(concat 'Welcome back, ' vendor.firstName '!')}}
</section>
<section id="profile">
    <div class="container">
        <div class="row justify-content-between">
            
        </div> <!-- Row End -->
    </div> <!-- Container End -->
</section>
<!--====== PROFILE ENDS ======-->