<!--====== RESET START ======-->
<section id="reset">
    <div class="container">
        {{> title_bar title="Reset Password?"}}
        <div class="d-flex justify-content-center">
            <!--====== Form ======-->
            <form class="reset form" method="POST">
                {{> form_password label1="New Password" label2="Confirm New Password"}}
                <span class="flashMsg purple">{{message}}</span>
                <span class="errorMsg white">{{error}}</span>
                <div class="submit-btn d-flex justify-content-center">
                    <input id="resetBtn" class="main-btn" type="submit" value="Submit" onclick="validateForm();">
                </div>
            </form> <!--====== End Form ======-->
        </div>
    </div>
</section>
<!--====== RESET ENDS ======-->
<script src="/assets/js/form-format.js"></script>
<script src="/assets/js/form-password.js"></script>
<script src="/assets/js/form-validate.js"></script>
