<!--====== SETTINGS START ======-->
<section id="account" class="style-2">
    {{> header title=(concat 'Hello, ' vendor.firstName)}}
</section>
<section id="settings">
    <div class="container">
        <div class="row justify-content-between">

        </div> <!-- Row End -->
    </div> <!-- Container End -->
</section>
<!--====== SETTINGS ENDS ======-->
