<!--================ STORE PAGE START ================-->
<!-- Link Back to Map -->
<div class="back">
    <i class="fas fa-chevron-left"></i>
    <a href="/">Back to map</a>
</div>

<!-- Header -->
{{> header id="store" title=store.name
text=(concat 'View recent updates directly from ' store.name)}}

<!-- Google Map Data -->
<span id="data" style="display: none">{{{ store }}}</span>

<!-- Page Content -->
<section id="store-info">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row justify-content-center">

            <!-- Store Details -->
            {{> store_details store=store}}

            {{#if qr}}
            {{> store_from_qr}}
            {{else}}
            {{> store_from_link}}
            {{/if}}
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!--================ STORE PAGE END ================-->

<!--===== Form Scripts =====-->
<script src="/assets/js/format.js"></script>