<!--================ STORE PAGE START ================-->
<!-- Link Back to Map -->
<div class="back">
    <i class="fas fa-chevron-left"></i>
    <a href="/map">Back to map</a>
</div>

<!-- Header -->
{{> header id="store" title=store.name subtitle_1=(concat 'View recent updates directly from
' store.name)}}

<!-- Google Map Data -->
<span id="data" style="display: none">{{{ store }}}</span>

<!-- Page Content -->
{{> forum}}
<!--================ STORE PAGE END ================-->

<!--===== Form Scripts =====-->
<script src="/assets/js/format.js"></script>