<!--====== STORE PAGE START ======-->
<div class="back">
    <i class="fas fa-chevron-left"></i>
    <a href="/map">Back to map</a>
</div>
<section id="store" class="style-2">
    {{> header title=store.name text1=(concat 'View recent updates directly from
    ' store.name)}}
    <span id="data" style="display: none">{{{ store }}}</span>
</section>
<section id="forum">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-4 col-sm-3">
                {{> store_info store=store}}
            </div>
            <div class="divider border-gradient"></div>
            <div class="col">
                {{> info_title title="Forum"}}
                {{#if store.forum}}
                {{#each store.forum as |msg|}}
                {{> forum_post msg=msg}}
                {{/each}}
                {{else}}
                <p class="no-forum">No forum posts yet. Check back soon for an
                    update!</p>
                {{/if}}
            </div>
        </div>
    </div> <!-- Container End -->
</section>
<!--====== STORE PAGE ENDS ======-->