<!--====== STORE PAGE START ======-->
<section id="store" class="style-2">
    <div class="back">
        <i class="fas fa-chevron-left"></i>
        <a href="/">Back to map</a>
    </div>
    {{> header title=store.name text1=(concat 'View recent updates directly from ' store.name)}}
    <span id="data" style="display: none">{{{ store }}}</span> 
</section>
<section id="forum">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-4 col-sm-3">
                {{> store_info store=store}}
            </div>
            <div class="divider border-gradient"></div>
            {{#each forum as |msg|}}
                <div class="col-sm-9">
                    <div class="forum-box">
                        <div class="forum-content">
                            <h5 class="post-title float-left">TITLE{{msg.title}}</h5>
                            <h6 class="label float-right">DATE{{msg.createdOn}}</h6>
                            <br/>
                            <hr>
                            <p class="post-text">TEXT{{msg.text}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div> <!-- Container End -->
</section>
<!--====== STORE PAGE ENDS ======-->