<!--====== STORE PAGE START ======-->
    <div class="back">
        <i class="fas fa-chevron-left"></i>
        <a href="/">Back to map</a>
    </div>
<section id="store" class="style-2">

    {{> header title=store.name text1=(concat 'View recent updates directly from ' store.name)}}
    <span id="data" style="display: none">{{{ store }}}</span> 
</section>
<section id="forum">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-4 col-sm-3">
                {{> store_info store=store}}
            </div>
            <div class="divider border-gradient"></div>
            {{#each forum as |msg|}}
                {{> forum_post msg=msg}}
            {{/each}}
        </div>
    </div> <!-- Container End -->
</section>
<!--====== STORE PAGE ENDS ======-->